.header {
    width: 1700px;
    margin: 0 auto;
    margin-top: 70px;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish {


    font-family: "Mulish", sans-serif;


}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero>h1 {
    font-size: 40px;
}

#tr-color {
    color: orangered;

}

#home {
    text-decoration: none;
    color: orangered;
}

.hero-li>ul {
    display: flex;
    align-items: center;


    list-style: none;
    font-size: 22px;

}

.hero-ul>li {
    margin-left: 20px;
}

.hero-ul>li>a {
    text-decoration: none;

}

/* mobile */

.pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    background-color: rgb(224, 217, 217);
}

input[name="mobile-menu"] {
    display: none;
}

#menu-on:checked~.pop,
#menu-on:checked~label {
    display: block;
}

#menu-off:checked~.pop,
#menu-off:checked~label {
    display: none;
}

.mobile-nav-control .mobile-menu-close,
.mobile-nav-control .mobile-menu-open {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    display: none;
}

.mobile-nav-control label {

    padding: 28px;
    border-radius: 15px;
    display: inline-block;

}

/* mobile veiw */
.menu-bar {
    display: flex;
    align-items: center;
}

.menu-bar i {
    margin-right: 20px;
    font-size: 40px;
    cursor: pointer;
    display: none;
}

/* explore */
.explore-section {
    background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    height: 500px;

}

.parent {
    position: relative;
    display: inline-block;

}

.explore-travel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.parent::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, .3);
    border-radius: 30px;
}

#explore-h1 {
    font-size: 70px;
    font-weight: 700;
    color: white;
    z-index: 1;
}

#explore-p {
    color: white;
    width: 900px;
    text-align: center;
    z-index: 1;
}

.explore-form {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 350px;
    height: 80px;
    width: 50%;
    transform: translateX(30%);
    background-color: rgba(245, 240, 240, 0.5);
    margin-top: 30px;

    border-radius: 10px;
}

.explore-form button {
    padding: 20px;
    width: 160px;
    margin-left: 20px;
    border-radius: 10px;
    border: none;
    color: gray;

}

#find-now {
    background-color: orangered;
    color: white;
}
/* main */
.main{
  width: 1700px;
    margin: 0 auto;
     margin-top: 70px;
}
/* populer */
.popular-tour{
    display: flex;
    align-items: center;
    justify-content: center;

}
#popular-h1{
    font-size: 55px;
}
.tours-section{
    width: 50%;
}
.tour-image{
    width: 50%;
   display: flex;
    align-items: center;
    justify-content: end;
}
.tour-image > img{
    width: 80%;
}


.tours-section > P{
    color: gray;
    font-size: 20px;
    padding: 10px;
}
.tours-section > ul{
    font-size: 20px;
    color: gray;
    padding: 10px;
}
#popular-btn{
   background-color: orangered;
   color: white; 
   padding: 17px 30px;
   font-size: 20px;
   border: none;
   border-radius: 10px;
}
/* choose */
.choose-section{
    margin-top: 80px;
}
.choose{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.choose > h1{
    font-size: 55px;
}
.choose > p{
    color: gray;
    font-size: 20px;
    width: 900px;
    margin: 0 auto;
}
/* gallery */
.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card{
    position: relative;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
}
.big{
    grid-column: span 2;
}
.card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.card:hover img{
    transform: scale(1.1);
}
.card > h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 10px black;
}
/* choose box */
.choose-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 20px;
   
}
.hotel > i{
color: orangered;
font-size: 60px;
}
.hotel > h2{
    font-size: 30px;
}
.hotel > p{
    font-size: 20px;
    color: grey;
}

.hotel{
    background-color: rgb(250, 250, 230);
    border: 1px solid rgb(250, 250, 3);
    padding: 20px;
     border-radius: 20px;
}
#world{
    background-color: rgba(195, 195, 248, 0.548);
    border:2px solid blue;
}
.best-price{
   
    width: 800px;
    margin: 0 auto;
   margin-top: 30px;
   background-color: rgb(252, 223, 228);
   border: 2px solid rgb(236, 79, 105);
}
.satorini-section{
    margin-top: 70px;
    
}
.tour{
 background-image: url("./Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 500px;
    margin-top: 60px;
}
#tour-p{
    color: gray;
    font-size: 20px;
}
.night{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.night > p >i{
    color: orangered;
    font-size: 20px;
}
.night > P{
    font-size: 20px;
}

.tour-satorini-1{
 
  width: 600px;
   transform: translate(160% ,60px);
    background-color: rgba(238, 232, 232, 0.87);
    padding: 10px;
    border-radius: 20px;

}
#tour-2{
     background-image: url("./Images/Group\ 40.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 500px;
}
#satorini-2{
     transform: translate(10% ,25%);
}
.see-all{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.new-sel{
    display: flex;
   
    justify-content:center
     ;
     flex-direction: column;
     border: 2px solid orangered;
     padding: 5px;
     border-radius: 20px;
     margin-top: 20px;
}
.new-sel > h3{
    font-size: 40px;
}
.new-sel > input{
    padding: 10px;
  margin-top: 20px;
  background-color: rgb(218, 216, 216);
   border: none;
    border-radius: 10px;
}
.new-sel > button{
    background-color: orangered;
    color: white;
    font-size: 22px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}
.tour-image{
     width: 100%;
    position: relative;
}
.Travel-save{
      height: 120px;
    width: 210px;
    background-color: orangered;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 55%;
    right: 50px;
   transform: rotate(-40deg);
}
.Travel-save > p{
    font-size: 25px;
}
.Travel-save > h2{
    font-size: 24px;
    font-weight: 700;

}
/* footer section */
.footer-section{
    background-color: rgb(231, 229, 229);
    margin-top: 70px;
}
 .footer-hero-travel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
 }
.footer-hero-i i{
    font-size: 1.8rem;
    color: orangered;
}
.footer-section p{
    text-align: center;
    padding: 10px;
    color: gray;
}
.footer-icon{
    display: flex;
    justify-content: center;
   gap: 15px;
   font-size: 23px;
}
#travel{
    color: orangered;
}
.footer-travel{
    font-size: 30px;
}

/* phone */
@media screen and (max-width:576px) {

    .header {
        width: 100%;

    }
    .main{
  width: 100%;
    margin: 0 auto;
     margin-top: 70px;
}

    .pop {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        background-color: antiquewhite;
    }

    input[name="mobile-menu"] {
        display: none;
    }

    #menu-on:checked~.pop,
    #menu-on:checked~label {
        display: block;
    }

    #menu-off:checked~.pop,
    #menu-off:checked~label {
        display: none;
    }

    .mobile-nav-control .mobile-menu-close,
    .mobile-nav-control .mobile-menu-open {
        position: fixed;
        top: 70px;
        right: 0;
        /* z-index: 10000; */
        display: none;
    }

    .mobile-nav-control label {
        background-color: rgb(230, 127, 32);
        color: white;
        padding: 20px;
        border-radius: 15px;
        display: inline-block;

    }

    .menu-bar {
        display: flex;
        align-items: center;
    }

    .menu-bar i {
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }

    .pop {
        display: flex;
        position: relative;
        padding: 0;
        margin: 0;
    }

    .hero-li {
        display: none;
    }

    .pop li {
        margin-bottom: 10px;
        cursor: pointer;
        display: block;
        text-align: center;
        padding: 10px;
        list-style: none;

    }

    .pop li:hover {
        cursor: pointer;
    }

    .mobile-nav-control .mobile-menu-open {
        display: block;
        position: absolute;
    }

    /* expoler */
    .explore-section {
        background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        background-position: center;
        border-radius: 30px;


    }

    #explore-h1 {

        text-align: center;
    }

    #explore-p {

        width: 100%;

    }

    .explore-form {
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50%;
        
padding: 10px;
margin: 10px;
        margin-top: 30px;
margin-right: 220px;

        transform: translateX(30%);
        background-color: rgba(245, 240, 240, 0.5);


        border-radius: 10px;
    }

    .explore-form button {
        padding: 20px;
        width: 160px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        color: gray;
    

    }
    /* populer */
.popular-tour{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
#popular-h1{
    font-size: 55px;
}
.tours-section{
    width: 100%;
}
.tour-image{
    width: 100%;
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tour-image > img{
    width: 100%;
}


.tours-section > P{
    color: gray;
    font-size: 20px;
    padding: 0;
}
.tours-section > ul{
    font-size: 20px;
    color: gray;
    padding: 0;
}
#popular-btn{
   background-color: orangered;
   color: white; 
   padding: 17px 30px;
   font-size: 20px;
   border: none;
   border-radius: 10px;
}
/* choose */
.choose > p{
    
    width: 100%;
    
}
.gallery{
    grid-template-columns: repeat(1,1fr);
}
.big{
    grid-column: span 1;
}
.choose-box{
   
    flex-direction: column;
   
   
}
.hotel > i{
color: orangered;
font-size: 60px;
}
.hotel > h2{
    font-size: 30px;
}
.hotel > p{
    font-size: 20px;
    color: grey;
}

.hotel{
    background-color: rgb(250, 250, 230);
    border: 1px solid rgb(250, 250, 3);
    padding: 0px;
     border-radius: 20px;
}
#world{
    background-color: rgba(195, 195, 248, 0.548);
    border:2px solid blue;
}
.best-price{
   
    width:100%;
    margin: 0 auto;
   margin-top: 20px;
   background-color: rgb(252, 223, 228);
   border: 2px solid rgb(236, 79, 105);
}
.tour-satorini-1{
 
  width: 80%;
   transform: translate(5% ,50%);
    background-color: rgba(238, 232, 232, 0.87);
    padding: 10px;
    border-radius: 20px;

}

.tour{
  
    height: 600px;
    margin-top: 70px;
 
}

}

/* tap */
@media screen and (min-width:576px) and (max-width:992px) {
    .header {
        width: 100%;

    }
    .main{
  width: 100%;
    margin: 0 auto;
     margin-top: 70px;
}

    .pop {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        background-color: antiquewhite;
    }

    input[name="mobile-menu"] {
        display: none;
    }

    #menu-on:checked~.pop,
    #menu-on:checked~label {
        display: block;
    }

    #menu-off:checked~.pop,
    #menu-off:checked~label {
        display: none;
    }

    .mobile-nav-control .mobile-menu-close,
    .mobile-nav-control .mobile-menu-open {
        position: fixed;
        top: 70px;
        right: 0;
        /* z-index: 10000; */
        display: none;
    }

    .mobile-nav-control label {
        background-color: rgb(230, 127, 32);
        color: white;
        padding: 28px;
        border-radius: 15px;
        display: inline-block;

    }

    .menu-bar {
        display: flex;
        align-items: center;
    }

    .menu-bar i {
        margin-right: 20px;
        font-size: 40px;
        cursor: pointer;
        display: none;
    }

    .pop {
        display: flex;
        position: relative;
        padding: 0;
        margin: 0;
    }

    .hero-li {
        display: none;
    }

    .pop li {
        margin-bottom: 10px;
        cursor: pointer;
        display: block;
        text-align: center;
        padding: 10px;
        list-style: none;

    }

    .pop li:hover {
        cursor: pointer;
    }

    .mobile-nav-control .mobile-menu-open {
        display: block;
        position: absolute;
    }
       /* expoler */
    .explore-section {
        background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        background-position: center;
        border-radius: 30px;


    }

    #explore-h1 {

        text-align: center;
    }

    #explore-p {

        width: 100%;

    }

    .explore-form {
        z-index: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        height: 50%;
         margin-right:0;
padding: 10px;
margin: 10px;
  /* transform: translate(-50%,-50%); */
        margin-top: 30px;


        transform: translateX(30%);
        background-color: rgba(245, 240, 240, 0.5);


        border-radius: 10px;
    }

    .explore-form button {
        padding: 20px;
        width: 160px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        color: gray;

    }
       /* populer */
.popular-tour{
   gap: 10px;
    flex-direction: column;

}
#popular-h1{
    font-size: 55px;
}
.tours-section{
    width: 100%;
}
.tour-image{
    width: 100%;
  
    flex-direction: column;
   
}


.tours-section > P{
    color: gray;
    font-size: 20px;
    padding: 0;
}
.tours-section > ul{
    font-size: 20px;
    color: gray;
    padding: 0;
}
#popular-btn{
   background-color: orangered;
   color: white; 
   padding: 17px 30px;
   font-size: 20px;
   border: none;
   border-radius: 10px;
}
.choose > p{
    
    width: 100%;
    
}
.gallery{
    grid-template-columns: repeat(1,1fr);
}
.big{
    grid-column: span 1;
}
.choose-box{
   
    flex-direction: column;
   
   
}


.hotel{
  
    padding: 0px;
    padding-top: 10px;
   
}

.best-price{
   
    width:100%;
   
}
.tour-satorini-1{
 
  width: 80%;
   transform: translate(5% ,50%);
    background-color: rgba(238, 232, 232, 0.87);
    padding: 10px;
    border-radius: 20px;

}

.tour{
  
    height: 600px;
    margin-top: 70px;
 
}

}

@media screen and (min-width:992px) and (max-width:1400px) {
    .header {
        width: 100%;

    }
    .main{
  width: 100%;
    margin: 0 auto;
     margin-top: 70px;
}

    .pop {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        background-color: antiquewhite;
    }

    input[name="mobile-menu"] {
        display: none;
    }

    #menu-on:checked~.pop,
    #menu-on:checked~label {
        display: block;
    }

    #menu-off:checked~.pop,
    #menu-off:checked~label {
        display: none;
    }

    .mobile-nav-control .mobile-menu-close,
    .mobile-nav-control .mobile-menu-open {
        position: fixed;
        top: 70px;
        right: 0;
        /* z-index: 10000; */
        display: none;
    }

    .mobile-nav-control label {
        background-color: rgb(230, 127, 32);
        color: white;
        padding: 28px;
        border-radius: 15px;
        display: inline-block;

    }

    .menu-bar {
        display: flex;
        align-items: center;
    }

    .menu-bar i {
        margin-right: 20px;
        font-size: 40px;
        cursor: pointer;
        display: none;
    }

    .pop {
        display: flex;
        position: relative;
        padding: 0;
        margin: 0;
    }

    .hero-li {
        display: none;
    }

    .pop li {
        margin-bottom: 10px;
        cursor: pointer;
        display: block;
        text-align: center;
        padding: 10px;
        list-style: none;

    }

    .pop li:hover {
        cursor: pointer;
    }

    .mobile-nav-control .mobile-menu-open {
        display: block;
        position: absolute;
    }
    /* explore */
    .explore-form {
        width: 80%;
        
      
    }
           /* populer */
.popular-tour{
    display: flex;
    align-items: center;
    justify-content: center;
 

}
#popular-h1{
    font-size: 55px;
}
.tours-section{
    width: 100%;
}
.tour-image{
    width: 100%;
   display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.tours-section > P{
    color: gray;
    font-size: 20px;
    padding: 0;
}
.tours-section > ul{
    font-size: 20px;
    color: gray;
    padding: 0;
}
#popular-btn{
   background-color: orangered;
   color: white; 
   padding: 17px 30px;
   font-size: 20px;
   border: none;
   border-radius: 10px;
}
.choose > p{
width: 100%;
}
.gallery{
    grid-template-columns: repeat(2,1fr);
}
.big{
    grid-column: span 1;
}



.hotel{
  
    padding: 0px;
    padding-top: 10px;
   
}

.best-price{
   
    width:100%;
   
}
.tour-satorini-1{
 
  width: 80%;
   transform: translate(5% ,50%);
    background-color: rgba(238, 232, 232, 0.87);
    padding: 10px;
    border-radius: 20px;

}

.tour{
  
    height: 600px;
    margin-top: 70px;
 
}


}


